<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PathToWineGitFolder" value="Z:/home/serhan/Shared/wine_git" />
    <!-- Required only if ExecuteWorkerScriptDirectly is "0". -->
    <add key="PathToSh" value="" />
    <!-- Determines how worker.sh will be executed: Either as "<path to sh.exe> worker.sh" or directly as "worker.sh". -->
    <add key="ExecuteWorkerScriptDirectly" value="1" />
    <add key="LoggingEnabled" value="0" />
  </appSettings>
</configuration>
